<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Shopping Cart</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
<body>
<section class="pt-5 pb-5">
  <div class="container">
    <div class="row w-100">
      <div class="col-lg-12 col-md-12 col-12">
        <h3 class="display-5 mb-2 text-center">Shopping Cart</h3>
        <p class="mb-5 text-center">
          <i class="text-info font-weight-bold" th:text="${count}"></i> items in your cart</p>
        <table id="shoppingCart" class="table table-condensed table-responsive" >
          <thead>
          <tr>
            <th style="width:60%">Product</th>

            <th style="width:12%">Price</th>
            <th style="width:10%">Quantity</th>
            <th style="width:16%"></th>
          </tr>
          </thead>
          <tbody th:each="o:${orders}">
          <tr>
            <td data-th="Product">
              <div class="row">
                <div class="col-md-3 text-left">
                  <img th:src="${o.product.image}" alt="" class="img-fluid d-none d-md-block rounded mb-2 shadow ">
                </div>
                <div class="col-md-9 text-left mt-sm-2">
                  <a th:href="@{/detail/{id}(id=${o.product.id})}"><h4 th:text="${o.product.title}" ></h4></a>
                  <p class="font-weight-light" th:text="${o.product.author}"></p>
                </div>
              </div>
            </td>
            <td data-th="Price" th:text="${o.product.price} +' $'"></td>
            <td data-th="Quantity">
              <input readonly class="form-control form-control-lg text-center" th:value="${o.quantity}">
            </td>
            <td class="actions" data-th="">
              <div class="text-right">
                <button class="btn btn-white border-secondary bg-white btn-md mb-2" th:onclick="'handleClick(\'' +${o.oid} + '\');'">
                  <a ><i class="fas fa-trash">delete</i></a>
                </button>
              </div>
            </td>
          </tr>

          </tbody>
        </table>
        <div class="float-right text-right">
          <h4>Subtotal:</h4>
          <h1 th:text="${total}"></h1>
        </div>
      </div>
    </div>
    <div class="row mt-4 d-flex align-items-center">
      <div class="col-sm-6 order-md-2 text-right">
        <a href="#" class="btn btn-primary mb-4 btn-lg pl-5 pr-5">Checkout</a>
      </div>
      <div class="col-sm-6 mb-3 mb-m-1 order-md-1 text-md-left">
        <a th:href="@{/home}">
          <i class="fas fa-arrow-left mr-2"></i> Continue Shopping</a>
      </div>
    </div>
  </div>
</section>
<script>
  const handleClick = (oid) => {
    if(window.confirm("Ban co chac muon xoa san pham nay khong?")){
       window.open(`http://localhost:8080/delete/${oid}`, "_self")
    }
  }
</script>
</body>
</html>